################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerBasket/CustomerBasket.Core/obj/Debug/netcoreapp3.1
